.login-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #E9EEF4;

    .login-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        height: 400px;
        padding: 25px;
        border-radius: 10px;
        background: #fff;

        .login-body-header {
            text-align: center;

            h1 {
                font-size: 24px;
                font-weight: bold;
            }

            p {
                margin: 20px 0;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .login-body-form {
            text-align: center;

            input {
                width: 100%;
                height: 50px;
                margin: 10px 0;
                padding: 5px;
                border: none;
                border-radius: 5px;
                outline: none;
                background: #E9EEF2;
            }

            button {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                border: none;
                border-radius: 5px;
                background: #78A6C8;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}