@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('./components/sidebar/SideBar.css');
@import url('./components/header/Header.css');
@import url('./components/semiFinishedTable/SemiFinishedTable.css');
@import url('./pages/loginPage/LoginPage.css');
@import url('./pages/semiFinishedPage/SemiFinishedPage.css');
@import url('./components/pagination/Pagination.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  padding: 60px 0 0 260px;
  background: #E9EEF4;
  animation: container-move-reverse 0.3s linear;
}

.container__move {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  padding: 60px 0 0 60px;
  background: #E9EEF4;
  animation: container-move 0.3s linear;
}

@keyframes container-move {
  0% {
    padding: 60px 0 0 260px;
  }

  100% {
    padding: 60px 0 0 60px;
  }
}

@keyframes container-move-reverse {
  0% {
    padding: 60px 0 0 60px;
  }

  100% {
    padding: 60px 0 0 260px;
  }
}

.headers {
  font-size: 24px;
  font-weight: 700;
  color: #1b1b1d;
}